# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/Angular/fedsys/dist
/Angular/fedsys/tmp
/Angular/fedsys/out-tsc

# dependencies
/Angular/fedsys/node_modules
/node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db

# ignore users
db/seeds/users.js
